<div class="container" style+"margin-top:100px;">
    <br>
    <h1 class="text-center text-danger">CommuniTask</h1>
</div>
<div class="row">
    <div class="col-lg-12">
        <div new-task></div>
        <br>
    </div>

</div><!-- /.row -->
<div class="row" ng-repeat="task in tasks">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
        <h4>{{task.desc}}</h4>
        <img ng-repeat="img in task.images" ng-src="{{img.url}}" type="{{img.type}}">
    </div>
    <div class="col-lg-1"></div>
</div>
<div class="footer container text-center">
    <p>CommuniTask - <a class="text-danger" href="https://github.com/shy/hackforchangenyc">Github</a> by <a class="text-danger" href="https://twitter.com/@MattCmultiMedia">@MattCmultiMedia</a> &amp; <a class="text-danger" href="https://twitter.com/ShyRuparel">@ShyRuparel</a></p>
</div>
