<div class="header">
    <h1 class="text-center text-danger">CommuniTask</h1>
</div>
<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
        <div class="input-group">
            <input type="text" class="form-control" ng-model="newTask">
            <span class="input-group-btn">
            <button class="btn btn-danger" ng-click="addTask()" type="button">Submit</button>
            </span>
        </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
    <div class="col-lg-1"></div>
</div><!-- /.row -->
<div class="row" ng-repeat="task in tasks">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
        <h4>{{task.desc}}</h4>
    </div>
    <div class="col-lg-1"></div>
</div>
<div class="footer container text-center navbar-fixed-bottom">
    <p>CommuniTask - <a class="text-danger" href="https://github.com/shy/hackforchangenyc">Github</a> by <a class="text-danger" href="https://twitter.com/@MattCmultiMedia">@MattCmultiMedia</a> &amp; <a class="text-danger" href="https://twitter.com/ShyRuparel">@ShyRuparel</a></p>
</div>
