<div class="header">
    <ul class="nav nav-pills pull-right">
        <li class="active"><a ng-href="#">Home</a></li>
    </ul>
    <button class="btn btn-lg btn-success" ng-click="login()">Login</button>
    <h3 class="text-muted">HackForChangeNYC</h3>
</div>

<div class="row" ng-repeat="task in tasks">
    {{task.desc}}
</div>

<input type="text" ng-model="newTask">
<button type="btn btn-lg btn-success" ng-click="addTask()">Submit</button>

<div class="footer">
    <p>♥ from the Yeoman team</p>
</div>
